@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.container-fluid {
  width: 85vw !important;
}

header.header {
  display: flex;

  align-items: center;
}

/* header.header:after {
  background: linear-gradient(0deg, #00999123 0%, #00000083 90%);
  display: block;
  backdrop-filter: saturate(180%) blur(1px);
  position: absolute;
  content: "";
  left: 0;
  height: 80vh;
  top: 0;
  width: 100vw;
} */

.header-content {
  /* background-color: red; */
  padding: 45px 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.header-content .maintext-container {
  color: #009991;
  text-align: center;
}

.header-content .maintext-container h2 {
  font-size: 16px;
  color: #555555;
}

.header-content .main-header-content {
  /* background: yellow; */
  width: 83%;
  height: 74%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.main-header-content .checkout-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.checkout-container .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .checkout-card {
  background: linear-gradient(to right, #0e7873, #01aba5);
  border-radius: 8px;
  min-height: 200px;
  width: 310px;
  overflow: hidden;
  text-decoration: none;
  color: #ffff;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px rgb(0, 0, 0, 0.2);
  transition: 0.2s;
}

.card-container .secondary-card {
  background: #f0f0f0 !important;
}

.card-container .checkout-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 15px 5px rgb(0, 0, 0, 0.3);
}

.checkout-card .checkout-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  border-bottom: solid 2px #f4f4f477;
  border-bottom-style: dashed;
}

.card-container .secondary-card .checkout-header {
  background: #f0f0f0 !important;
  color: #009991;
  border-bottom: solid 2px #6b6b6b77;
  border-bottom-style: dashed;
}

.checkout-card .checkout-body {
  display: flex;
  width: 100%;
  height: 110px;
  justify-content: center;
  align-items: center;
}

.checkout-card .checkout-body p {
  color: #f4f4f4;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.card-container .secondary-card .checkout-body p {
  color: #009991;
  font-size: 25px;
}

.checkout-card .checkou-button {
  background: rgba(0, 0, 0, 0.253);
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 7px 10px;
  border-radius: 8px 0px 0px 0px;
  font-size: 15px;
  font-weight: bold;
}

.card-container .secondary-card .checkou-button {
  background: #009991 !important;
}

.main-header-content p {
  color: #555555;
  text-align: center;
  width: 85%;
  font-size: 5;
}

.topbar-container {
  position: absolute;
  z-index: 3;
  width: 100vw;
  height: 110px;
  bottom: 0px;
  background-color: #00999100;
  display: none;
  align-items: center;
  /* backdrop-filter: saturate(180%) blur(0px); */
  transition: 0.5s;
}

.topbar-container img {
  width: 60px;
  padding-bottom: 30px;
  transition: 0.5s;
}

.topbar-fixed {
  background: #009991c9;
  backdrop-filter: saturate(180%) blur(8px);
  height: 85px;
  position: fixed;
  top: 0px;
}

.topbar-fixed img {
  width: 45px !important;
  padding-bottom: 0px;
}

.main-text-container {
  z-index: 1 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/parallax_back1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-attachment: fixed;
  background-size: cover;
  height: 70vh;
  position: relative;
}

.video-container:after {
  background: linear-gradient(0deg, #00999123 0%, #00000083 90%);
  display: block;
  backdrop-filter: saturate(180%) blur(0px);
  position: absolute;
  content: "";
  left: 0;
  height: 70vh;
  top: 0;
  width: 100vw;
}

.video-container .video-content {
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.video-container .video-content iframe {
  width: 85%;
  height: 85%;
}

.info-container {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}

/* .info-container .images-container {
} */

.image-item {
  width: 300px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: solid 5px #018079;
  box-sizing: border-box;
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.089);
  transition: 0.2s;
}

@media (max-width: 1040px) {
  .image-item {
    width: 270px;
    height: 150px;
  }
}

@media (max-width: 767px) {
  .image-item {
    width: 300px;
    height: 200px;
  }
}

.info-container .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container .image-container img {
  height: auto;
  width: 100%;
}

.info-container .info-box {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.info-container .info-box h2 {
  font-size: 20px;
  color: #009991;
  font-weight: bold;
  margin-bottom: 15px;
}
.info-container .info-box p {
  font-size: 18px;
  color: #232323;
  font-weight: 400;
}

.info-container .info-box img {
  margin-right: 50px;
  width: 300px;
  transform: translatey(90px);
}

section.checkout {
  padding: 45px 0px;
  display: flex;
  align-items: center;
}

/* .checkout-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  justify-content: center;
} */
/* .chekout-card {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #f3f3f3;
  width: 350px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.089);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  transition: 0.2s;
}

.card-container:hover {
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.13);
}

.card-container .title-container {
  text-align: center;
}

.card-container .title-container h2 {
  font-size: 19px;
}

.card-container .title-container h3 {
  font-size: 12px;
  font-weight: 500;
  color: #7e7e7e;
}
.card-container .value {
  color: #555555;
  font-size: 30px;
  font-weight: bold;
}

.card-container a {
  background-color: #009991;
  color: #ffffff;
  text-decoration: none;
  padding: 13px 35px;
  font-weight: 700;
  border-radius: 4px;
}

.card-container a:hover {
  background-color: #02837c;
  color: #ffffff;
} */

footer {
  height: 30vh;
  background-color: #02837c;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .footer-message p {
  color: #ffffff;
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: 25px;
  text-align: center;
}

footer .footer-message a {
  padding: 15px 25px;
  color: #02837c;
  background: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

footer .footer-message a:hover {
  color: #02837c;
  text-decoration: none;
  background: #ffffffd5;
}

@media (max-width: 550px) {
  .main-text-container .text-container h1 {
    font-size: 22px;
  }
  .main-text-container .text-container p {
    font-size: 11px;
  }
  footer .footer-message p {
    font-size: 12px;
  }
}
@media (max-width: 800) {
  .container-fluid {
    width: 95vw !important;
  }
}

.header-content-upsell {
  padding: 0 !important;
  justify-content: center !important;
}

.header-content-upsell .video-container {
  max-width: 650px;
  max-height: 450px;
}

.header-content-upsell .form-container {
  min-height: calc(100% - 650px);
  width: 90vw;
  background: #3a3a3a;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 35px;
  color: #ffff;
}

@media (max-width: 800) {
  .header-content-upsell .form-container {
    width: 98vw;
  }
}

@media (max-width: 766px) {
  .card-container .checkout-card {
    margin-bottom: 30px;
  }
  .main-header-content p {
    font-size: 13px;
  }
  .info-container .info-box h2 {
    font-size: 20px;
    color: #009991;
    font-weight: bold;
    margin-bottom: 13px;
  }
  .info-container .info-box p {
    font-size: 13px;
    color: #232323;
    font-weight: 400;
  }
}
